* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 200vw;
    height: 200vh;
}


.pai {
    background: red;
    width: 150px;
    height: 150px;
    position: absolute; /*posição absoluta a algum elemento ou página. 
        -   Se não tiver pai / pai for static -> Posiciona referente a página
        -   Se o pai NÃO for static -> Posiciona referente ao pai.*/
    margin: 80px;
    
}

.filho {
    background: orange;
    width: 50px;
    height: 50px;
    position: fixed; /* fixa o elemento na tela */
}

.obja{
    width: 50px;
    height: 50px;
    background: green;
    position: relative; /* posição relativa a posição inicial dele */
    top: 20px;
    left: 20px;
}
.objb{
    background: magenta;
    width: 150px;
    height: 150px;
    position: static; /* (Padrão) - Não aceita valores de top, bottom, right e left. */
}

.objc{
    background: blue;
    width: 50px;
    height: 50px;
    position: sticky; /* - Age como um adesivo, fixa o elemento só onde eu determinar */
    top: 20px;
    left: 20px;
}